<section class="u-align-center u-clearfix u-block-523a-1" custom-posts-hash="[]" data-post-id="1815905046" data-section-properties="{&quot;grid-spacing&quot;:&quot;10&quot;,&quot;align&quot;:&quot;left&quot;,&quot;stretch&quot;:true}" data-id="523a" data-posts-content="[{'images':[],'maps':[],'videos':[],'icons':[],'textWidth':'','textHeight':'','id':1,'headingProp':'h3','textProp':'text'}]" data-style="Form-Basic-v2" id="sec-2a9c" data-source="Sketch" style="">
  <div class="u-clearfix u-sheet u-block-523a-2" style="min-height: 872px">
    <h1 class="u-text u-text-default u-block-control u-block-523a-15" style="margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0" data-block="11" data-block-type="Text">Update Your Profile<br></h1><div class="u-form u-block-control u-block-523a-3" style="height: 627.5px; margin: 20px auto 60px; width: 871.078px;" data-block="12" data-block-type="Form">
      <form action="//publish.nicepage.com/Form/Process" method="POST" class="u-clearfix u-form-spacing-17 u-form-vertical u-inner-form" style="padding: 8px;" source="email" name="form">
        
        
        <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-4" style="" data-block="13">
          <label for="name-6797" class="u-label u-block-523a-5" style="">Name</label>
          <input type="text" placeholder="First Name" id="name-6797" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-6" required="" style="height: 30px">
        </div><div class="u-form-email u-form-group u-form-partition-factor-2 u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-7" style="" data-block="14" data-block-type="FormField">
          <label for="email-6797" class="u-label u-block-523a-8" style="">Email</label>
          <input type="email" placeholder="last name" id="email-6797" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-9" required="" style="height: 30px">
        </div>
        
        
        <div class="u-form-group u-form-message u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-10" style="" data-block="15" data-block-type="FormField">
          <label for="message-6797" class="u-label u-block-523a-11" style="">Address</label>
          <textarea placeholder="Address" rows="4" cols="50" id="message-6797" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-12" required="" style=""></textarea>
        </div><div class="u-form-group u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-16" style="" data-block="16" data-block-type="FormField">
    <label for="text-0734" class="u-label u-block-523a-18" style="">Number</label>
    <input type="text" placeholder="Numero" id="text-0734" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-19" style="height: 30px">
</div><div class="u-form-group u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-17" style="" data-block="17" data-block-type="FormField">
    <label for="text-fad3" class="u-label u-block-523a-20" style="">City</label>
    <input type="text" placeholder="Ville" id="text-fad3" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-21" style="height: 30px">
</div><div class="u-form-group u-form-partition-factor-2 u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-22" style="margin-left: 0" data-block="18" data-block-type="FormField">
    <label for="text-91e9" class="u-label u-block-523a-23" style="">Saisir</label>
    <input type="text" placeholder="country" id="text-91e9" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-24" style="height: 30px">
</div><div class="u-form-group u-form-partition-factor-2 u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-32" style="margin-left: 0" data-block="19" data-block-type="FormField">
    <label for="text-e4f2" class="u-label u-block-523a-33" style="">Saisir</label>
    <input type="text" placeholder="Your Site web" id="text-e4f2" name="text-3" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-34" style="height: 30px">
</div><div class="u-form-group u-form-textarea u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-31" style="margin-left: 0" data-block="20" data-block-type="FormField">
    <label for="textarea-7ccb" class="u-label u-block-523a-35" style="">Zone de texte</label>
    <input rows="4" cols="50" id="textarea-7ccb" name="textarea-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-523a-36" required="required" type="text" placeholder="Job" style="height: 30px">
</div><div class="u-form-group u-form-message u-form-textarea u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-25" style="margin-left: 0" data-block="21" data-block-type="FormField">
    <label for="textarea-775b" class="u-label u-block-523a-26" style="">description</label>
    <textarea rows="4" cols="50" id="textarea-775b" name="textarea" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-523a-27" required="required" style="" data-block-type="FormChild"></textarea>
</div><div class="u-form-date u-form-group u-label-none u-block-control ui-draggable ui-draggable-handle u-block-523a-28" style="margin-left: 0" data-block="22" data-block-type="FormField">
    <label for="date-a18e" class="u-label u-block-523a-29" style="">Date</label>
    <input type="date" placeholder="MM/JJ/AAAA" id="date-a18e" name="date" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-523a-30" required="" style="height: 30px">
</div><div class="u-align-left u-form-group u-form-submit u-label-none u-block-control u-block-523a-13" style="" data-block="23">
          <a href="#" class="u-btn u-btn-submit u-button-style u-block-control ui-draggable ui-draggable-handle u-block-523a-14" style="" data-block="24">Submit</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
        <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
        <input type="hidden" value="" name="recaptchaResponse">
      </form>
    </div>
  </div>
  <style data-mode="XL" data-visited="true">@media (max-width: 0px) { .u-block-523a-2 {min-height: 872px}
.u-block-523a-15 {margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-523a-3 {height: 627.5px; width: 871.078px; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 60px}
.u-block-523a-6 {height: 30px}
.u-block-523a-9 {height: 30px}
.u-block-523a-19 {height: 30px}
.u-block-523a-21 {height: 30px}
.u-block-523a-22 {margin-left: 0}
.u-block-523a-24 {height: 30px}
.u-block-523a-32 {margin-left: 0}
.u-block-523a-34 {height: 30px}
.u-block-523a-31 {margin-left: 0}
.u-block-523a-36 {height: 30px}
.u-block-523a-25 {margin-left: 0}
.u-block-523a-28 {margin-left: 0}
.u-block-523a-30 {height: 30px} }</style>
  <style data-mode="LG">@media (max-width: 0px) { .u-block-523a-2 {min-height: 872px}
.u-block-523a-15 {margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-523a-3 {width: 844px; margin-top: 20px; margin-bottom: 60px; margin-left: auto; margin-right: auto; height: 627.5px}
.u-block-523a-6 {height: 30px}
.u-block-523a-9 {height: 30px}
.u-block-523a-19 {height: 30px}
.u-block-523a-21 {height: 30px}
.u-block-523a-22 {margin-left: 0}
.u-block-523a-24 {height: 30px}
.u-block-523a-32 {margin-left: 0}
.u-block-523a-34 {height: 30px}
.u-block-523a-31 {margin-left: 0}
.u-block-523a-36 {height: 30px}
.u-block-523a-25 {margin-left: 0}
.u-block-523a-28 {margin-left: 0}
.u-block-523a-30 {height: 30px} }</style>
  <style data-mode="MD">@media (max-width: 0px) { .u-block-523a-2 {min-height: 872px}
.u-block-523a-15 {margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-523a-3 {width: 720px; margin-top: 20px; margin-bottom: 60px; margin-left: auto; margin-right: auto; height: 627.5px}
.u-block-523a-6 {height: 30px}
.u-block-523a-9 {height: 30px}
.u-block-523a-19 {height: 30px}
.u-block-523a-21 {height: 30px}
.u-block-523a-22 {margin-left: 0}
.u-block-523a-24 {height: 30px}
.u-block-523a-32 {margin-left: 0}
.u-block-523a-34 {height: 30px}
.u-block-523a-31 {margin-left: 0}
.u-block-523a-36 {height: 30px}
.u-block-523a-25 {margin-left: 0}
.u-block-523a-28 {margin-left: 0}
.u-block-523a-30 {height: 30px} }</style>
  <style data-mode="SM">@media (max-width: 0px) { .u-block-523a-2 {min-height: 872px}
.u-block-523a-15 {margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-523a-3 {width: 540px; margin-top: 20px; margin-bottom: 60px; margin-left: auto; margin-right: auto; height: 627.5px}
.u-block-523a-6 {height: 30px}
.u-block-523a-9 {height: 30px}
.u-block-523a-19 {height: 30px}
.u-block-523a-21 {height: 30px}
.u-block-523a-22 {margin-left: 0}
.u-block-523a-24 {height: 30px}
.u-block-523a-32 {margin-left: 0}
.u-block-523a-34 {height: 30px}
.u-block-523a-31 {margin-left: 0}
.u-block-523a-36 {height: 30px}
.u-block-523a-25 {margin-left: 0}
.u-block-523a-28 {margin-left: 0}
.u-block-523a-30 {height: 30px} }</style>
  <style data-mode="XS">@media (max-width: 0px) { .u-block-523a-2 {min-height: 872px}
.u-block-523a-15 {margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-523a-3 {width: 340px; margin-top: 20px; margin-bottom: 60px; margin-left: auto; margin-right: auto; height: 627.5px}
.u-block-523a-6 {height: 30px}
.u-block-523a-9 {height: 30px}
.u-block-523a-19 {height: 30px}
.u-block-523a-21 {height: 30px}
.u-block-523a-22 {margin-left: 0}
.u-block-523a-24 {height: 30px}
.u-block-523a-32 {margin-left: 0}
.u-block-523a-34 {height: 30px}
.u-block-523a-31 {margin-left: 0}
.u-block-523a-36 {height: 30px}
.u-block-523a-25 {margin-left: 0}
.u-block-523a-28 {margin-left: 0}
.u-block-523a-30 {height: 30px} }</style>
</section>